
.hero {
    width: 100%;
    height: 70vh;
    background: url(../img/herogreyscale.png), 
    no-repeat linear-gradient(160deg, rgba(119, 33, 111, 0.7) 0%, rgba(233, 84, 32, 0.7) 100%), 
    no-repeat linear-gradient(150deg, rgba(119, 33, 111, 1) 15%, rgba(233, 84, 32, 1) 70%, rgba(233, 84, 32, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    /* justify-items: center; */
    justify-content: center;

        &__title {
            color: white;
            margin-left: 10%;
        }
        &__subtitle {
            color: rgba(255,255,255,.7);
            margin-left: 11%;
        }
        &__button {
            margin-left: 11%;
            background: tomato;
            display: inline;
            text-decoration: none;
            padding: 8px 16px;
            border-radius: 3px;
        }
}
