$nav-height: 100px !default;

.nav-wrapper {
    background: darkslategrey;
    width: 100%;
    line-height: $nav-height;

    nav {
        position: relative;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;

        @include mq-phone {
            justify-content: space-between;
        }

        .logo {
            line-height: $nav-height;
        }

        .navbar {
            display: flex;
            @include mq-phone {
                position: absolute;
                flex-direction: column;
                background: grey;
                width: calc(100% - 32px);
                top: $nav-height;
                left: calc(-100% + 16px);
                align-items: center;
                padding: 16px 0;
                margin: 16px;
                border-radius: 16px;
                transition: 350ms ease-out;

                li {
                    // height: $nav-height / 2;
                    height: auto;
                    line-height: $nav-height / 1.7;
                }
            }

            a {
                display: inline-block;
                line-height: $nav-height;
                padding: 0 16px;
                @include mq-phone {
                    line-height: $nav-height / 1.7;
                    
                }
            }
        }

    }
}
.toggle-menu .navbar {
    transform: translateX(calc(100% + 16px));
}
.mobile-menu {
    display: none;

    @include mq-phone {
        display: inline-block;
    }
}