.program {
    // @include isGridItem('2 / 3');
    @include isSubGridContainer('2 / 3', null, '1fr 1fr');
    // grid-column: 2 / 3;
    grid-auto-flow: dense;
    .mini-article {
        border: 1px solid black;    
    }

    .iot {
        grid-column: 1 / span 1;
        background: getColor(prim1);

        &__headline {
            grid-column: 1 / span 1;
            grid-row: 1 / 2;
            text-align: center;
        }
    }

    .desktop {
        grid-column: 2 / span 1;
        
        &__headline {
            grid-column: 2 / span 1;
            grid-row: 1 / 2;
            text-align: center;
        }
    }
}
