// @import 'normalize8-not-sass';
@import 'vars';
@import 'resets';
@import 'grid';
@import 'grid-claus-edition';
@import 'mqs';
@import 'nav';
@import 'hero';
@import 'articles';


.wrapper {
    // @include isGridContainer('minmax(16px, 1fr) minmax(auto, 1200px) minmax(16px, 1fr)');

}

.middle-content {
    // justify-self: center;
    // align-self: center;
    max-width: 1200px;
    // @include isGridContainer('repeat(5, 1fr)');
    background: #bada55;
}

.row {
    @include isGridContainer('minmax(16px, 1fr) minmax(auto, 1200px) minmax(16px, 1fr)');
    width: 100%;
}